.searchbar-style {
  display: inline;
}

.searchbar-input {
  display: inline-block;
  margin-top: 3rem;
  width: 35%;
  min-width: 20rem;
  padding: 1rem;
  font-size: 1rem;
  border-style: none;
  outline: none;
  border-radius: 5%/50%;
  color: rgb(69, 69, 69);
}

.search_button {
  margin-left: 1rem;
  border-radius: 20%/50%;
  padding: 0.9rem 2rem 0.9rem 2rem;
  /* padding: 2rem 1rem 1rem 2rem; */
}
