.searchbar-style {
  display: inline;
}

.searchbar-input {
  display: inline-block;
  width: 35%;
  min-width: 20rem;
  padding: 1rem;
  font-size: 1rem;
  border-style: none;
  outline: none;
  border-radius: 5%/50%;
  color: rgb(69, 69, 69);
  max-width: 40rem;
}

.search_button {
  margin-left: 1rem;
  border-radius: 25%/50%;
  padding: 0.95rem 2rem 0.95rem 2rem;
  /* padding: 2rem 1rem 1rem 2rem; */
}

// @media screen and (max-width: 700px) {
//   .searchbar-style {
//     display: block;
//     margin-top: 5rem;
//   }
//   .searchbar-input {
//     margin: auto;
//     margin-top: 1rem;
//     display: block;
//   }
//   .search_button {
//     margin: auto;
//     margin-top: 1rem;
//     display: block;
//   }
// }
