@import "../../../config";
.loginForm {
  width: 100%;
  display: flex;
  transform: translate(0%, 50%);
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.login-logo {
  margin-top: 3rem;
  font-size: 3.3rem;
  color: white;
}

.username {
  margin-top: 0.1rem;
}
.password {
  padding-right: 3rem;
}

.login-button {
  display: block;
  border-radius: 20%/50%;
  width: 8rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  outline: none;
}
.horizontal-divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  width: 50%;
}
.goToSignIn {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-align: center;
}

.termsAndConditions {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.8rem;
  color: rgba(201, 201, 201, 0.625);
}

.passwordContainer {
  display: block;
  position: relative;
}
.closeButton {
  display: block;
  position: relative;
  width: 2rem;
  font-size: 2rem;
  cursor: pointer;
  top: 1rem;
  left: 1rem;
  &:hover {
    opacity: 0.8;
  }
}

.showPassword {
  float: right;
  margin-right: 20px;
  margin-top: -32px;
  width: 1rem;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(111, 111, 111);
  z-index: 2;
}

@media screen and (max-width: 950px) {
  .closeButton {
    position: fixed;
  }
}
