@import "../../config";
.modal-fade {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($background-color, 0.8);
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal-background {
  background-color: $background-color;
  opacity: 1;
  color: white;
  position: fixed;
  border-radius: 10px;
  border: white 3px solid;
  width: 30rem;
  height: 40rem;
}
